.header {
  // margin-left: 405px;
  // margin-top: 3px;

  nav {
    width: 1000px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    gap: 30px;
    // justify-content: space-around;
    ul {
      // display: flex;
      // justify-content: space-around;
      // margin-right: 20px;
    }
  }
}
